
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #171717;
    font-family: "lato", sans-serif;
}
.dato_incorrecto .input{
   color: red;
   border: 2px solid red;
} 
.formulario_error_correo {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
  margin: 0;
}
.formulario_error_correo_vacio{
  font-size: 12px;
	margin-bottom: 0;
	display: none;
  margin: 0;
}
.formulario_error_contraseña {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
  margin: 0;
}
.formulario_error_contraseña_vacio{
  font-size: 12px;
	margin-bottom: 0;
	display: none;
  margin: 0;
}
.formulario_error_incorrecto{
  font-size: 20px;
	margin-bottom: 0;
	display: none;
  margin: 0;
  color: red;
}
.formulario_error_incorrectos{
  font-size: 20px;
	margin-bottom: 0;
	/* display: none; */
  margin: 0;
  color: red;
}
.formulario_error_vacio{
  font-size: 20px;
	margin-bottom: 0;
	display: none;
  margin: 0;
  color: red;
}

.formulario-error-activo {
	display: block;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
  border-radius: 5px;
}
a {
    text-decoration: none; 
    color: white; 
}

a:visited{
    color: white;
}
.contenedor_login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 

}

.formulario{
    background-color: white;
    width: 350px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);

}
/* #FFA7E6, #FFD5E6, #D5BFFF, #FFA7E6 */
/* .fondo_animado{
  background: linear-gradient(-45deg, #ff7dda, #f9b9d3, rgb(252, 252, 252), #D5BFFF, #f87fd5);
  background-size: 400% 400%;
  animation: fondo_animado 10s ease infinite;
}
@keyframes fondo_animado{
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} */

.fondo_animado{
  background-image: linear-gradient(#051327,#000);
  position: fixed;
  inset: 0;
}

.space {
  --size: 2px;
  --space-layer:
    4vw 50vh 0 #fff,
    18vw 88vh 0 #fff,
    73vw 14vh 0 #fff;
  width: var(--size);
  height: var(--size);
  background: #fff;
  box-shadow:  var(--space-layer);
  /* box-shadow: 
  4ww 50vh 0 #fff,
  4ww 50vh 0 #fff,
  ; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 75%;
  animation: movimiento var(--duration) linear infinite;
}
@keyframes movimiento {
  from { transform:  translateY(0);}
  to {transform: translateY(-100vh);}
}
.titulo{
    font-size: 50px;
    margin-bottom: 50px;
}
.bienvenida{
    font-size: 50px;
    margin-bottom: 50px;
    display: flex;        
    justify-content: center; 
    align-items: center;
    border: 1px solid #333;
    border-radius: 10px;
    color: white;
    background-color: #333;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
.contenedor_datos{
    position: relative;
    height: 45px;
    width: 90%;
    margin-top: 17px;
  }
.input{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}
  ::placeholder {
  color: transparent;
}

  .boton_enviar {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .boton_enviar:hover {
    background-color: #4c54f3;
    transform: translateY(-2px);
  }
  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: blue;
  }
  .input:focus {
    border: 2px solid blue;
    color: black;
  }
  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }